.about {
  padding: 41px 30px 40px;

  @media (min-width: $tablet-width) {
    padding: 41px 46px 57px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 152px 0 105px 175px;
    margin: 0 50px;
  }
}

.about__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    position: relative;
  }
}

.about__title {
  margin: 0 0 26px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: $black-three;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 49px 0;
  }
}

.about__email {
  margin: 0 32px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 23px 0 4px;
  }
}

.about__contact {
  margin: 0 32px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 25px 0 0;
  }
}

.about__adress {
  margin: 0;
}

.about__email-link {
  color: $greyish-brown;
  text-decoration: none;
}

.about__text {
  text-align: left;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.about__send-link {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: $greyish-brown;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: auto;
    margin: 0 auto;
    padding: 14px 39px 14px 38px;
  }
}

.about__row {
  display: flex;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
      margin-bottom: 56px;
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 52px;
  }
}

.about__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
