.addition-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 2;
    padding: 0 0 0 51px;
  }
}

.addition-list__link {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    min-height: 74px;
    padding: 18px 60px 25px 0;
    font-size: 15px;
  }
}
