.button {
  padding: 14px 0;
  border: solid 2px $greyish-brown;
  background-color: $white;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.button:hover {
  color: $white;
  background-color: $greyish-brown;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
