.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
  margin-right: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
}

.copyright__image {
  fill: $seafoam-blue;
}

.copyright__link {
  line-height: 0;
}
