.footer {
  background-color: $white-two;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    min-height: 143px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.footer__item {
  min-height: 79px;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }

  &--copyright {
    @media (min-width: $tablet-width) {
      margin-top: 7px;
    }
  }

  &--social {
    @media (min-width: $tablet-width) {
      margin: 9px 0 0 117px;
    }
  }
}

.footer__logo {
  @media (min-width: $tablet-width) {
    margin-top: -8px;
  }
}

.footer__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
