.footer {
  // background-color: $white-two;
  background-color: rgba(185, 2, 78, 0.534);
  outline: 1px solid rgb(184, 30, 38);
  display: flex;
  flex-direction: column;
  padding: 25px 69px 30px;

  @media(min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__item {
  min-height: 79px;
}

.footer__image {
  display: none;

  @media(min-width: $tablet-width) {
    display: block;
  }
}
