.fullname__item {
  margin: 23px 0 -1px 0;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 24px;
  }

  &:first-child {
    margin: 29px 0 -1px 0;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 29px 0 -1px 4px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 23px 0 -1px 4px;
  }
}

.fullname__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  color: $black-three;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
    margin-right: 25px;
  }
}

.fullname__input {
  border: none;
  padding: 17px 0 18px;
  box-shadow: inset 0 -2px 0 0 $black-two;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    padding: 19px 21px 18px 17px;
  }

  &--name {
    @media (min-width: $tablet-width) {
      padding: 18px 21px 18px 17px;
    }
  }
}

.fullname__input::placeholder {
  font-family: $font;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
  color: $greyish-brown-30;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.fullname__input:hover {
  box-shadow: inset 0 -2px 0 0 #62d1ba;
}

.fullname__input:active {
  box-shadow: inset 0 -2px 0 0 #62d1ba;
}

.fullname__input:focus {
  box-shadow: inset 0 -2px 0 0 #62d1ba;
  outline: none;
}
