.header {
  // background-color: $white-four;
}

.header__link {
  padding: 22px 0 17px;
  transform: translateX(-50%);
  margin-left: 50%;

  @media (min-width: $tablet-width) {
    transform: translateX(0);
    margin-left: 0;
    padding: 25px 0 0 0;
    min-height: 88px;
    box-sizing: border-box;
  }
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:active {
  opacity: 0.3;
}

.header__image {
  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
    margin: -3px 0 0 -3px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
    margin: -16px 0 0 -52px;
  }
}
