.header {
  // background-color: $white-four;
}

.header__link {
  padding: 22px 0 17px;
  transform: translateX(-50%);
  margin-left: 50%;

  @media (min-width: $tablet-width) {
    transform: translateX(0);
    margin-left: 0;
  }
}
