.hot-offer {
  background-color: rgba(238, 153, 227, 0.323);
  outline: 1px solid rgb(238, 153, 227);
  padding: 32px 30px 36px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 55px 52px 53px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 50px;
    padding: 117px 0 73px 47px;
  }
}

.hot-offer__wrapper {
  @media (min-width: $tablet-width) {
    display: block;
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
  }
}

.hot-offer__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 140px;
    right: 0;
  }
}

.hot-offer__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $seafoam-blue;
  text-align: left;

  @media (min-width: $tablet-width) {
    width: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 58px;
  }
}

.hot-offer__wrapper-title {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.hot-offer__desc {
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }
}

.hot-offer__table {
  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }
}

.hot-offer__table-field {
  line-height: 20px;
  text-align: left;
}

.hot-offer__table-value {
  line-height: 20px;
  text-align: left;
}

.hot-offer__price {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 34px;
  }
}

.hot-offer__button {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: $greyish-brown;
}
