.hot-offer {
  padding: 27px 30px 36px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 42px 47px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 121px 50px 73px 97px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.hot-offer__title {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -4px;
  }
}

.hot-offer__wrapper {
  @media (min-width: $tablet-width) {
    width: 292px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 128px;
  }
}

.hot-offer__image {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 160px;
    right: 52px;
  }
}

.hot-offer__subtitle {
  margin: 0 0 23px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $seafoam-blue;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 5px 31px 0 0;
    width: 70px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 8px 54px 0 0;
  }
}

.hot-offer__wrapper-title {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 52px;
  }
}

.hot-offer__desc {
  margin: 0 0 17px 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0 3px 35px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 48px;
  }
}

.hot-offer__table {
  margin-bottom: 28px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 111px;
    margin-left: -3px;
  }
}

.hot-offer__table-row {
  border-bottom: 1px solid $white-four;
}

.hot-offer__table-field {
  line-height: 20px;
  text-align: left;
  padding: 10px 27px 9px 0;

  @media (min-width: $tablet-width) {
    padding: 9px 0 10px 3px;
  }
}

.hot-offer__table-value {
  line-height: 20px;
  text-align: left;
}

.hot-offer__price {
  margin: 0 0 26px 0;
  font-size: 17px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 34px 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 33px 0;
  }
}

.hot-offer__button {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
