.info {
  background-color: rgba(74, 61, 194, 0.323);
  outline: 1px solid rgb(87, 146, 106);
  padding: 34px 30px 30px;

  @media (min-width: $tablet-width) {
    padding: 60px 50px 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 89px 175px;
    margin: 0 50px;
  }
}

.info__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  margin-top: 82px;
  width: 251px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.info__title {
  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.info__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
