.intro {
  background-color: $white-two;
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 119px 52px 0;
    margin-top: -83px;

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/bg-zigzag-fill.svg") 0 0 repeat-x;
        bottom: -1px;
        left: 0;
        height: 24px;
        width: 100%;
        background-size: 770px 24px;
      }

      @media (min-width: $desktop-width) {
        bottom: -4px;
        height: 34px;
        background-size: 1150px 34px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -75px;
    padding: 95px 52px 34px;
  }

  &--main {
    position: relative;
    padding: 70px 0 0 0;
    background-color: $white-four;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: -128px -18px;
    background-repeat: no-repeat;
    min-height: 283px;

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/bg-zigzag-fill.svg") 0 0 repeat-x;
        bottom: -9px;
        left: 0;
        height: 24px;
        width: 100%;
        background-size: 770px 24px;
      }

      @media (min-width: $desktop-width) {
        height: 34px;
        bottom: -14px;
        background: url("../img/bg-zigzag-fill@1x.png") center 0 no-repeat;
        background-size: 1150px 34px;
      }

      @media (min-width: $desktop-width) and (min-resolution: $retina), (min-resolution: $retina-dpi) {
        background: url("../img/bg-zigzag-fill@2x.png") center 0 no-repeat;
        background-size: 1150px 34px;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 177px 0 0 0;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: -191px 23px;
    }

    @media (min-width: $desktop-width) {
      padding: 155px 0 0 0;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: center;
      background-color: #f9f9f9;
    }

    @media (min-resolution: $retina), (min-resolution: $retina-dpi) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px 373px;
    }

    @media (min-width: $tablet-width) and (min-resolution: $retina), (min-resolution: $retina-dpi) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }

    @media (min-width: $desktop-width) and (min-resolution: $retina), (min-resolution: $retina-dpi) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px 746px;
      background-position: center;
    }
  }
}

.intro--main .intro__title {
  margin: 0 0 122px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 373px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin: 0 0 359px;
  }
}

.intro__title {
  padding: 0;
  margin: 0 0 76px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: $very-dark-brown;

  @media (min-width: $tablet-width) {
    margin: 0 0 92px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 82px;
    font-size: 53px;
    line-height: 57px;
  }
}

.intro__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
