.intro {
  background-color: $white-two;
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 119px 52px 0;
    margin-top: -83px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -75px;
  }

  &--main {
    padding: 70px 0 0 0;
    background-color: $white-four;
    background-image: url("../../img/hero-mobile@1x.jpg");
    background-position: -128px -18px;
    background-repeat: no-repeat;
    min-height: 283px;

    @media (min-width: $tablet-width) {
      padding: 177px 0 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 155px 0 0 0;
    }
  }
}

.intro--main .intro__title {
  margin: 0 0 122px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 373px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin: 0 0 359px;
  }
}

.intro__title {
  padding: 0;
  margin: 0 0 76px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: $very-dark-brown;

  @media (min-width: $tablet-width) {
    margin: 0 0 92px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 82px;
  }
}

.intro__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
