.manufacturing {
  padding: 0 30px 57px 30px;

  @media (min-width: $tablet-width) {
    padding: 3px 50px 63px 50px;
    min-height: 738px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 105px 50px;
  }
}

.manufacturing__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: block;
    position: relative;
    padding-left: 682px;
  }
}

.manufacturing__title {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
}

.manufacturing__text {
  font-size: 13px;
  text-align: left;
}

.manufacturing__link {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  color: $greyish-brown;
}

.manufacturing__video {
  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}
