.manufacturing {
  padding: 0 30px 57px 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px 109px 50px;
    // min-height: 738px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 106px 50px;
    min-height: 455px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.manufacturing__wrapper {
  display: flex;
  flex-direction: column;
  background: url("../img/icon-video.svg") 34px 29px no-repeat;
  border: solid 1px $white-four;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: relative;
    padding: 95px 57px 59px 759px;
    background: url("../img/icon-video.svg") 761px 41px no-repeat;
  }
}

.manufacturing__title {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  padding-left: 89px;
  margin: 23px 0 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 -1px 33px;
    padding: 37px 0 0 106px;
    background: url("../img/icon-video.svg") 42px 32px no-repeat;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 33px 0;
    font-size: 20px;
    padding: 0;
    background: none;
  }
}

.manufacturing__text {
  font-size: 13px;
  text-align: left;
  margin: 27px 34px 25px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin: 0 37px 35px 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 30px;
    margin: 0 0 46px;
  }
}

.manufacturing__link {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  color: $greyish-brown;
  display: inline-block;
  text-decoration: none;
  padding: 16px 2px 16px 0;
  margin: 0 33px 33px;
  width: auto;

  @media (min-width: $tablet-width) {
    margin: 0 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 44px 17px 42px;
    margin: 0 0 0 2px;
  }
}

.manufacturing__video {
  @media (min-width: $tablet-width) {
    order: -1;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
  }
}
