.map {
  margin-bottom: 33px;
  margin-left: -30px;

  @media (min-width: $tablet-width) {
    margin: 0 -51px 49px -51px;
    width: calc(100% + 110px);
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.map__image {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
