.menu {
  margin-top: auto;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.menu__item {
  box-sizing: border-box;
  padding: 30px 90px 31px 30px;
  width: 100%;

  &--left {
    background-color: $seafoam-blue;
  }

  &--right {
    background-color: $greeny-blue;
  }
}

.menu__link {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  color: $white;
  text-decoration: none;
  width: 100%;
}
