.menu {
  margin-top: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 50px;
  }
}

.menu__item {
  box-sizing: border-box;
  width: 100%;
  position: relative;

  &--left {
    background-color: $seafoam-blue;
  }

  &--right {
    background-color: $greeny-blue;
  }
}

.menu__link {
  display: block;
  box-sizing: border-box;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  color: $white;
  text-decoration: none;
  width: 100%;
  padding: 26px 90px 29px 30px;

  @media (min-width: $tablet-width) {
    padding: 28px 0 34px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}

.menu__icon {
  position: absolute;
  opacity: 0.5;
  fill: $blue-green;
  right: 57px;
  top: 50%;
  transform: translate(50%, -50%);
}
