.navigation__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
  }
}
