.navigation {
  padding-top: 80px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--no-js .navigation__wrap {
    position: static;
  }

  &--no-js .navigation__toggle {
    display: none;
  }

  &--no-js .header__link {
    margin-left: 0;
    transform: translateX(0);
  }

  &--hide {
    padding: 0;
  }

  &--hide .user-list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--hide .site-list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--hide .navigation__wrap {
    position: relative;
    background-color: transparent;
  }

  &--hide .navigation__toggle-icon--open {
    display: block;
  }

  &--hide .navigation__toggle-icon--close {
    display: none;
  }
}

.navigation__wrap {
  position: absolute;
  width: 100%;
  background-color: $white;
  z-index: 1;
  top: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.navigation__row {
  display: flex;
  justify-content: center;
  background-color: $white;
  box-shadow: 0 1px 0 0 $white-four, inset 0 1px 0 0 $white-four;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding-left: 51px;
    box-sizing: border-box;
    flex-grow: 1;
    width: calc(100% - 400px);
  }

  @media (min-width: $desktop-width) {
    order: 1;
    justify-content: center;
    width: auto;
  }
}

.navigation__toggle {
  padding: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 30px;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__toggle-icon {
  &--open {
    display: none;
  }
}

.navigation__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 2;
    margin: 0 0 0 auto;
    padding: 18px 51px;
  }
}

.navigation__link {
  padding: 22px 0 17px;
  transform: translateX(-50%);
  margin-left: 50%;

  @media (min-width: $tablet-width) {
    transform: translateX(0);
    margin-left: 0;
    padding: 25px 0 0 0;
    min-height: 88px;
    box-sizing: border-box;
  }
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link:active {
  opacity: 0.3;
}

.navigation__image {
  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
    margin: -3px 0 0 -3px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
    margin: -16px 0 0 -52px;
  }
}
