.order {
  background-color: rgba(17, 38, 230, 0.63);
  outline: 1px solid rgb(45, 9, 175);
  padding: 30px 30px 55px 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.order__section {
  padding: 50px 0 0;
  position: relative;
  border: none;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding: 0 0 50px 217px;
    position: relative;
  }

  &--no-title {
    padding-top: 0;

    @media (min-width: $tablet-width) {
      padding: 0 0 50px 0;
    }
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      background-color: $white-two;
    }
  }
}

.order__section-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 225px 50px 225px;
  }
}

.order__row {
  position: relative;
  padding: 50px 0 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 217px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.order__title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: left;
  color: $seafoam-blue;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 50px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    left: 114px;
  }
}

.order__title::after {
  position: absolute;
  content: "";
  width: 198px;
  height: 1px;
  background-color: $seafoam-blue;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.order__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
}

.order__input::placeholder {
  font-family: $font;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
  color: $greyish-brown-30;
}

.order__comment::placeholder {
  font-family: $font;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  text-align: left;
  color: $greyish-brown-30;
}

.order__note {
  font-size: 14px;
  line-height: 16px;
  text-align: left;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.order__submit {
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
}

.order__desc {
  margin: 0;
  font-size: 13px;
  text-align: left;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 68px 105px 60px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 112px 225px 61px;
  }
}
