.products {
  padding: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 67px 50px 54px 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    padding: 111px 50px 57px 50px;
  }
}

.products__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}
