.product__link {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  text-decoration: none;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    font-size: 20px;
  }

  &--bag {
    @media (min-width: $tablet-width) {
      margin-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 5px;
    }
  }
}

.product__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.product__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product__desc {
  margin: 0 0 21px 0;
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid $white-four;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    border-bottom: none;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.product__price {
  margin: 0;
  font-weight: bold;
  text-align: left;
  color: $black-three;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__wrapper {
  padding: 27px 28px 27px 27px;
  box-sizing: border-box;
  border: 1px solid $white-four;

  @media (min-width: $tablet-width) {
    width: calc(100% - 334px);
    box-sizing: border-box;
    border: 1px solid $white-four;
    padding: 25px 28px 3px 26px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 25px 28px 3px 26px;
    min-height: 197px;
  }
}

.product__image {
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 462px;
  }
}

.product__row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $white-four;
    padding: 22px 0 23px 5px;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 0 21px 0;
    margin-top: auto;
  }
}

.product__button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.product__button:hover .product__icon {
  fill: $seafoam-blue;
  opacity: 1;
}

.product__button:active .product__icon {
  fill: $seafoam-blue;
  opacity: 0.3;
}

.product__icon {
  opacity: 0.2;
}

.product__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
