.product__link {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
}

.product__desc {
  font-size: 13px;
  line-height: 30px;
  text-align: left;
}

.product__price {
  font-weight: bold;
  text-align: left;
  color: $black-three;
}
