.products {
  padding: 30px;
  background-color: rgba(26, 143, 211, 0.486);
  outline: 1px solid rgb(33, 56, 187);
}

.products__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
