.products {
  padding: 30px;
  background-color: rgba(26, 143, 211, 0.486);
  outline: 1px solid rgb(33, 56, 187);
  box-sizing: border-box;

  @media(min-width: $tablet-width) {
    padding: 67px 50px 50px 50px;
  }

  @media(min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 111px 50px 57px 50px;
  }
}

.products__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media(min-width: $tablet-width) {
    display: flex;
  }

  @media(min-width: $desktop-width) {
    display: block;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

}
