.reviews {
  padding: 25px 30px 45px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/review@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 77px 52px 122px 46px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 50px;
    padding: 71px 0 100px 172px;
    background-position: 0 0;
  }
}

.reviews__title {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin: 0 0 48px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px 0;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.reviews__text {
  margin: 0 0 27px 0;
  line-height: 30px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0 0 58px 3px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 38px 3px;
  }
}

.reviews__author {
  margin: 0 0 3px 0;
  font-style: normal;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  color: $black-three;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 0 0 4px 3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    margin: 0 0 3px 3px;
  }
}

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  color: $greyish-brown;
  text-decoration: none;
  margin: 0 0 -7px 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.reviews__slider {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    order: 5;
  }
}

.reviews__buttons {
  border: 1px solid $white-four;
  margin-bottom: 36px;
  width: 260px;

  @media (min-width: $tablet-width) {
    order: 6;
    position: absolute;
    right: 0;
    bottom: -6px;
    width: auto;
    border: none;
  }
}

.reviews__button {
  padding: 5px 39px 5px 37px;
  box-sizing: border-box;
  background-color: $white;
  min-height: 52px;
  border: none;

  &:first-child {
    border-right: 1px solid $white-four;

    @media (min-width: $tablet-width) {
      border-right: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 6px 17px 7px 16px;
  }
}

.reviews__send {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: $greyish-brown;
  width: 260px;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    order: 1;
    width: auto;
    padding: 14px 38px;
    font-size: 17px;
    margin: 2px -2px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 9px;
    padding: 14px 38px;
  }
}

.reviews__br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
