.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    left: 0;
    top: 88px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-right: auto;
  }
}

.site-list__link {
  box-sizing: border-box;
  padding: 30px 0 30px 76px;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  text-decoration: none;
}
