.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    order: 1;
    padding-left: 49px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    width: 40%;
    background: #ffffff;
    box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 0 $white-four, inset 0 1px 0 0 $white-four;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    border-right: 1px solid $white-four;

    &:last-child {
      border-right: none;
    }
  }
}

.site-list__item:first-child a {
  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.site-list__link {
  box-sizing: border-box;
  padding: 0 30px 0 76px;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  text-decoration: none;
  min-height: 79px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 37px 0 0;
    min-height: 60px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 34px 0 35px;
    min-height: 88px;
    font-size: 17px;
  }
}

.site-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}
