.user-list {
  @media (min-width: $tablet-width) {
    display: flex;
    order: 0;
    margin-left: auto;
    justify-content: flex-end;
    background: #ffffff;
    box-sizing: border-box;
    padding-right: 52px;
    box-shadow: 0 1px 0 0 $white-four, inset 0 1px 0 0 $white-four;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    order: 2;
    background: #ffffff;
    width: 40%;
  }
}

.user-list__item {
  box-shadow: 0 1px 0 0 $white-four, inset 0 1px 0 0 $white-four;
  position: relative;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $white-four;
    box-shadow: none;
  }
}

.user-list__icon {
  position: absolute;
  top: 35px;
  left: 41px;
  transform: translateX(-50%);
  opacity: 0.2;
  fill: #231f20;
}

.user-list__link:hover .user-list__icon {
  opacity: 1;
  fill: $seafoam-blue;
}

.user-list__link:active .user-list__icon {
  opacity: 0.3;
  fill: $seafoam-blue;
}

.user-list__link {
  box-sizing: border-box;
  padding: 0 30px 0 76px;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  text-decoration: none;
  min-height: 79px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 81px;
    min-height: 88px;
  }
}

.user-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-list__item--search a {
  @media (min-width: $tablet-width) {
    font-size: 0;
  }
}
