.user-list {
  @media (min-width: $tablet-width) {
    display: flex;
    order: 0;
    width: 50%;
    justify-content: flex-end;
    background: #ffffff;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    order: 2;
    background: #ffffff;
    width: 40%;
  }
}

.user-list__link {
  box-sizing: border-box;
  padding: 30px 0 30px 76px;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: $black-three;
  text-decoration: none;
}
